<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} Uso de Mixins {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'base/materialize/css/materialize.min.css' %}">
	<link rel="stylesheet" href="{% static 'base/materialize/font/icon.css' %}">	
	
	{% block css %} 
	<!-- Coloca los archivos css extras para tus apps-->
	{% endblock %}
</head>
<body>
	<main>
		<nav>
			<div class="nav-wrapper blue darken-3">
				<ul id="nav-mobile" class="hide-on-med-and-down">
					<li>
						<a href="{% url 'home:index' %}"> <i class="material-icons left">home</i> Home</a>
					</li>
					<li>
						<a href="{% url 'home:about' %}"> <i class="material-icons left">info</i>About</a>
					</li>
					<li>
						<a href="{% url 'home:articles-list' %}"><i class="material-icons left">list</i> Articles</a>
					</li>
					<li>
						<a href="{% url 'home:contact' %}"> <i class="material-icons left">phone</i>Contact</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container" id="content">
		{% block content %}

		{% endblock %}
		</div>
	</main>
	<script src="{% static 'base/js/jquery.min.js' %}"> </script>
	<script src="{% static 'base/js/jquery.cookie.js' %}"> </script>
	<script src="{% static 'base/materialize/js/materialize.min.js' %}"></script>
	<script src="{% static 'base/js/materialize-init.js' %}"> </script>

	{% block js %} <!-- Coloca los archivos js extras para tus apps--> 
	{% endblock %}
</body>
</html>
