{% extends 'base/base.html' %}

{% block title %} {{ block.super }} | About {% endblock %}

{% block content %} 
<div class="row">
	<div class="col s12">
		<h2>About</h2>
	</div>	
</div>
{% endblock%}