{% extends 'home/base.html' %}

{% load static %}

{% block title %} {{ block.super }} | Articles {% endblock %}

{% block content %}
<div class="row">
	{% for article in articles %}
	<div class="col s12 l6">
		<article class="card">
			<div class="card-image">
				<img src="{% static 'base/img/travis.png' %}">
			</div>
			<div class="card-content">
				<h4>{{ article.name }}</h4>
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nihil quae alias ratione minima officia sint exercitationem officiis odit dolor voluptas placeat asperiores, assumenda accusantium! Alias tenetur dignissimos distinctio asperiores.</p>
			</div>
			<div class="card-action">
				<a href="{% url 'home:article-watch-online' article.pk %}">Wacth <i class="material-icons left">watch</i></a>
				<a href="{% url 'home:article-download' article.pk %}">Download <i class="material-icons right">domain</i></a>
			</div>
		</article>
	</div>
	{% empty %}
	<div class="col s12 m10 offset-s1">
		<div class="card">
			<div class="card-content">
				<h4 class="card-title"> There arent' articles </h4>
			</div>
		</div>
	</div>
	{% endfor %}	
</div>
{% endblock %}