{% extends 'home/base.html' %}

{% block title %} Article: {{ article.name }} {% endblock %}

{% block content %}
<div class="row">
	<div class="col s12">
		<article class="card">
			<div class="card-content">
				<h3 class="card-title">Watch online</h3>
				<p>The article "{{article.name }}" was watch online succesfull!</p>
			</div>
			<div class="card-action">
				<a href="{% url 'home:articles-list' %}" class="btn blue darken-1"> <i class="material-icons left">arrow_back</i> Go Back!</a>
			</div>
		</article>
	</div>
</div>
{% endblock %}