{% extends 'base/base.html' %}

{% load static %}

{% block title %} {{ block.super }} | Contact {% endblock %}

{% block content %}
<div id="app">
	<div class="row">
		<div class="col s12">
			<a href="#" @click.prevent="newContact" class="btn blue darken-1 btn-floating"> <i class="material-icons">add</i></a>
		</div>
	</div>
	<article class="modal" id="modal-contact">
		<div class="modal-content">
			<h4> Contact Form </h4>	
			<div v-show="ocurrioUnError"> 
				<p :class="{'red-text': ocurrioUnError }"> ${ error } </p>
			</div>
			<form method="post">{% csrf_token %}
				<div class="input-field">
					<input type="email"
								 name="email"
								 v-model="contact.email"
								 id="email">
					<label for="email">Email</label>
				</div>
				<button type="button"
								@click.prevent="send" 
								class="btn blue darken-1" 
								id="btn-send-contact"> 
						<i class="material-icons right">send</i>
						Send
				</button>
			</form>
		</div>
	</article>
</div>		
{% endblock %}

{% block js %}
<script src="{% static 'base/js/vue.min.js' %}"></script>
<script src="{% static 'base/js/axios.min.js' %}"></script>
<script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}
