{% extends 'base/base.html' %}

{% block title %} {{ block.super }} | Home {% endblock %}

{% block content %}
<div class="row">
	<div class="col s12">
		<div class="card">
			<div class="card-content">
				<h2 class="card-title"> Uso de los mixins de Django </h2>
			</div>
		</div>
	</div>
</div>
{% endblock %}