#content {
	height: 800px;
	margin-top: 20px;
}

#descripcion-web {
	color: #FFFFFF;
}

footer {
	background: #2A53A3;
	color: #FFFFFF;
	height: 400px;
	padding: 20px;
	border-radius: 5px;
}

@media screen and (max-width: 572px) {
	footer {
		height: auto;	
	}
}